.container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 32px;
}

.label {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.country-icon {
  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}
