.section {
  padding-top: 32px;
  padding-bottom: 48px;
}

.auth-section {
  padding-top: 12px;
  padding-bottom: 41px;
}

@media screen and (min-width: 768px) {
  .auth-section {
    padding-top: 140px;
    padding-bottom: 106px;
    background-image: url(/images/gradient-1x.png);

    background-repeat: no-repeat;
    background-position: bottom right;

  }
}

/* .hero {


}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile@2x.jpg);
  }
} */

@media screen and (min-width: 1440px) {
  .auth-section {
    padding-top: 64px;
    padding-bottom: 80px;
  }
}

/* paddings for desktop for login page are different - adjust */
