.section {
  padding-top: 32px;
  padding-bottom: 48px;
}

.auth-section {
  padding-top: 12px;
  padding-bottom: 41px;
}

@media screen and (min-width: 768px) {
  .auth-section {
    padding-top: 140px;
    padding-bottom: 106px;
  }
}

@media screen and (min-width: 1440px) {
  .auth-section {
    padding-top: 64px;
    padding-bottom: 80px;
  }
}

/* paddings for desktop for login page are different - adjust */
