.input {
  width: 100%;
  border-radius: 15px;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  transition: border 100ms linear;
}

.hovered:hover {
  border-color: #85aa9f;
}

.focused:focus {
  border-color: #85aa9f;
}


.word-form-input.hovered:focus,
.word-form-input.focused:hover {
  border-color: #d1d5db;
  color: var(--white);
}


.auth-form-input {
  padding: 16px 18px 16px 18px;
  border: 1px solid #1214171a;
  color: var(--main-font-color);
}

.auth-form-input::placeholder {
  color: var(--main-font-color);
}

.word-form-input {
  padding: 12px 24px;
  border: 1px solid #d1d5db;
  color: var(--white);
  @media screen and (min-width: 768px) {
    padding: 16px 18px;
  }
}

.word-form-input::placeholder {
  color: var(--white);
}

.wrong-input {
  border-color: var(--error-color);
}

.correct-input {
  border-color: #3cbf61;
}
