.group-flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.field-flex {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.outer,
.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--white);
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.center {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: var(--white);
}

.label {
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
