.eye-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

.eye-icon {
  stroke: var(--main-font-color);
  fill: transparent;
}

/* .password-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 16px; 
  font-family: inherit;
  pointer-events: none;
  display: flex;
  align-items: center;
  padding-left: 12px;
  overflow: hidden;
  white-space: nowrap;
} */

