.error-text {
  position: absolute;
  align-items: center;
  bottom: -18px;
  left: 0;
  display: flex;
  gap: 4px;
  color: var(--error-color);
  font-size: 12px;
}

.error-icon {
  fill: var(--error-color);
}
