.link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;

  border-radius: 15px;
  transition: color 250ms linear, background-color 200ms ease-in-out;
  background-color: transparent;
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .link {
    padding: 12px 20px;
    color: var(--main-font-color);
  }
}

.active-link {
  padding: 12px 20px;
  background-color: var(--white);
  color: var(--main-font-color);
}

@media screen and (min-width: 1440px) {
  .active-link {
    background-color: var(--primary-color);
    color: var(--white);
  }
}
