.navlinks-list {
  display: flex;
  flex-direction: column;
  row-gap: 28px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .navlinks-list {
    flex-direction: row;
    column-gap: 8px;
  }
}
