.navlinks-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

@media screen and (min-width: 1440px) {
  .navlinks-list {
    flex-direction: row;
    column-gap: 8px;
  }
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  padding: 12px 20px;
  border-radius: 15px;
  transition: color 250ms linear, background-color 200ms ease-in-out;
  background-color: transparent;
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .link {
    color: var(--main-font-color);
  }
}

.active-link {
  background-color: var(--white);
  color: var(--main-font-color);
}

@media screen and (min-width: 1440px) {
  .active-link {
    background-color: var(--primary-color);
    color: var(--white);
  }
}
