.button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-font-color);
  fill: inherit;
  stroke: inherit;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .icon {
    width: 40px;
    height: 28px;
  }
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 185px;
  height: 100%;
  background-color: black;
}
