.button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-font-color);
  fill: inherit;
  stroke: inherit;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .icon {
    width: 40px;
    height: 28px;
  }
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);

  @media screen and (min-width: 768px) {
    width: 40%;
  }
}

.top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0 16px;

  @media screen and (min-width: 768px) {
    padding: 20px 32px 0 32px;
  }
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--white);
}

.close-icon {
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}
