.backdrop {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #03120e1a;
}

.loading-text {
  font-size: 24px;
  font-weight: 500;
  color: var(--main-font-color);
}
