.logout-button {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white);
  stroke-width: 0;
  fill: none;
  stroke: currentColor;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: 1440px) {
    font-size: 16px;
    color: var(--main-font-color);
  }
}
