@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-Medium.otf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-SemiBold.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-font-color: #121417;
  --primary-color: #85aa9f;
  --primary-color-hover: #a5c0b8;
  --gray: #f8f8f8;
  --white: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "MacPaw Fixel Display", sans-serif;
  background-color: var(--gray);
}
