@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-Medium.otf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-SemiBold.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("./fonts/MacPawFixelDisplay-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-font-color: #121417;
  --primary-color: #85aa9f;
  --primary-color-hover: #a5c0b8;
  --gray: #f8f8f8;
  --white: #fcfcfc;
  --error-color: #d80027;
}

body {
  font-family: "MacPaw Fixel Display", sans-serif;
  background-color: var(--gray);
  color: var(--main-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--third-color);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
