.flex {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.menu-name {
  color: var(--white)
}

.avatar-round {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--primary-color);
  fill: #fcfcfcb2;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}

.menu-avatar-round {
  background-color: var(--white);
  fill: var(--primary-color);
}
